@model IEnumerable<RSM.Models.box>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.box_name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.box_row)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.box_column)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.box_createddate)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.box_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.box_row)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.box_column)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.box_createddate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.box_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.box_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.box_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
