@model RSM.Models.service

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>service</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.service_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.service_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.service_description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.service_description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.service_datetime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.service_datetime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.service_venue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.service_venue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.service_createddate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.service_createddate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.service_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
