@model RSM.Models.order

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.order_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.order_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.order_createddate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.order_createddate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.order_status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.order_status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.order_description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.order_description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.order_quantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.order_quantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.order_prioritystatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.order_prioritystatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.order_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
