@model RSM.Models.checklist

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>checklist</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.checklist_description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.checklist_description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.checklist_createddate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.checklist_createddate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.checklist_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
